<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conditionals</title>
</head>
<body>

    <div id="root">
        <h1>Conditionals</h1>
        <hr/>

        <button v-on:click="error = !error">Toggle Error</button>
        <button v-on:click="success = !success">Toggle Success</button>

        <p v-if="error">There has been an error</p>
        <p v-if="success">Whooo, Success!!</p>
    </div>

    <script src="js/vue.js"></script>

    <script>
        var app = new Vue({
            el: "#root",

            data: {
                error: false,
                success: false,
            }
        })
    </script>

</body>
</html>